.service {
    padding: 5rem 0;
    background-color: var(--primary_color);
}

.service_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;

}

.service_container .service_title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 1000px;
    padding: 2rem;
}

.service_title .border {
    border: 3px solid var(--black);
    width: 180px;
}

.service_title h1 {
    font-size: 3rem;
}

.service_title p {
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 30px;
}

.service-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.service-wrap .service_card:nth-child(1) {
    background-color: #FEFEFF;
}

.service-wrap .service_card:nth-child(3) {
    background-color: #FEFEFF;
}

.service-wrap .service_card {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.service-wrap .service_card .icon_service_card {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.service-wrap .service_card .icon_service_card img{
    width: 100px;
}

.service-wrap .service_card .service_card_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.service-wrap .service_card .service_card_content p {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 30px;
}



/* media queries */

@media screen and (min-width: 762px) and (max-width: 992px) {
    .service_title h1 {
        font-size: 4rem;
    }

    .service-wrap .service_card .service_card_content p {
        font-size: 1.1rem;
        font-weight: lighter;
        line-height: 30px;
        padding-left: 7.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .service_title h1 {
        font-size: 4rem;
    }

    .service-wrap .service_card .service_card_content p {
        font-size: 1.1rem;
        font-weight: lighter;
        line-height: 30px;
        padding-left: 7.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .service_title h1 {
        font-size: 4.5rem;
    }

    .service-wrap .service_card .service_card_content p {
        font-size: 1.1rem;
        font-weight: lighter;
        line-height: 30px;
        padding-left: 7.5rem;
    }
}