* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #E6F3FF;
  --secundary_color: #CFE6FA;
  --white: #FFFFFF;
  --black: #000000;
  --text: #73716B;
}

section {
  max-width: 1500px;
}